.area {
  width: 100%;
  margin: left;
  flex-wrap: wrap;
  display: flex;
}

.tab_class {
  width: calc(100%/5);
  height: 50px;
  background-color: darkgrey;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
}

.hr{
border-top: 5px solid #000;
}
.subhr
{
  border-top: 2px solid #000;
}

h1{
  text-align: center;
}

input:checked + .tab_class {
  background-color:black;
  color: white;
}

.content_class {
  display: none;
  width: 100%;
}


/*ソースコード用*/
.code{ 
  position:relative;
  margin-left: 0px;
  padding:30px 0 10px 20px;
  border-left: solid 10px #fb8a8a;
  background:#2F3437;
  list-style:none;
  color: #fff;
  font-size:1em;
  overflow: auto;
  }
  .code.css:after{content: 'C#'; background: #000000;}
  .code.html:after{content: 'Python'; background: #834f3d;}
  .code.css:after, .code.html:after, .code.js:after, .code.php:after{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px 10px;
  line-height: 1;
  font-size: 0.9em;
  color: #fff;
  }
