.area {
  width: 100%;
  margin: left;
  flex-wrap: wrap;
  display: flex;
}

.tab_class {
  width: calc(100%/5);
  height: 50px;
  background-color: darkgrey;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
}

.hr{
border-top: 5px solid #000;
}
.subhr
{
  border-top: 2px solid #000;
}

h1{
  text-align: center;
}

input:checked + .tab_class {
  background-color:black;
  color: white;
}

.content_class {
  display: none;
  width: 100%;
}

/*ソースコード表示*/
.code{ 
  position:relative;
  margin-left: 0px;
  padding:30px 0 10px 20px; /*余白：上・右・下・左*/
  border-left: solid 10px #8fd2ed; /*左ラインの色・幅*/
  background:#2F3437; /*背景色*/
  color: #fff; /*文字色*/
  font-size:1em; /*文字サイズ*/
  overflow: auto;
  }
  .code:after{ /*ラベルの設定*/
  content: 'CODE'; /*ラベルに表示する文字*/
  background: #969998; /*背景色*/
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px 10px;
  line-height: 1;
  font-size: 0.9em;
  color: #fff;
  }
